html {
    background: grey;
    color: gold;
}

table {
    border-collapse: collapse;
    background-color: rgb(131, 205, 240);
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

.user {
    background-color: darkred;
}